body {
    background: url(/imagens/wallpaperlac+.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.conteiner {
    width: 100%;
    background-color: rgba(240, 230, 140, 0.5);
    
}
.header { 
    width: 100%;
    height: 20%;
    background-color: rgb(254, 255, 237);

}
.header img {
    width: 160px;
    
}
.mainav {
    width: 100%;
    height: 10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 226, 123);
    flex-direction: row;
    justify-content: space-around;
    
}
.mainav li {
    display: inline;
    padding-inline: 30px;
}
.mainav a {
    text-decoration: none;
    color: rgb(231, 66, 66);
}
.mainav a:hover {
    background-color: orange;
}
.content {
    height: 60%;
    color: rgb(231, 66, 66);
    text-align: center;
}
.produtos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
}
.produtos img:hover {
   transform: translateX(10px) scale(1.2);
}
.content img {
    width: 300px;
    height: 200px;
}
.texto {
    padding: 40px;
}
.sobrenos{
    display: flex;
    text-align: center;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-left: 90px;
}
button {
  
    
    margin-left: .5em;
}
.footer {
    height: 10%;
    padding: 30px;
    color: red;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    clear: both;
    

}
.footer ul li {
    display: inline;
    padding: 5px;
    
}
.footer a {
    color: red;

}